# macOS
.DS_Store

# logs
*.log

# node (caso use no futuro)
node_modules/

# build outputs
dist/
build/

# env
.env

# misc
*.zip
*.tmp

# IDE
.vscode/
.idea/

#wrangler
.wrangler 

#arquivos que não quero subir para o github
detalhes_do_projeto.txt